html{
  background-image: url("3.gif");
}

.container-fluid{
  background-image: url("3.gif");
}

.conatiner {
  background-color: rgb(250, 164, 133);
}

.conatiner:hover {
  background-color: rgb(241, 13, 16);
  color:whitesmoke;
  transition:transform 2s;
  transform: translateY(-45px);
  text-transform: uppercase;
}


input[type="text"]{
  background: transparent;
  color:white;
}

input[type="text"]:focus{
  background: transparent;
  color:white;
}

